<section>
  <h3>Enter Your Favorite Book</h3>

  <form class="new-book-form">
    <div>
      <label for="book-name">Book Name</label>
      <input type="text" id="book-name" name="book-name" />
    </div>
    <div>
         <label for="author-name">Author Name</label>
      <input type="text" id="author-name" name="author-name" />
    </div>
    <div>
      <label for="book-url">Book Link</label>
      <input id="book-url" name="book-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>


{{#if books.length}}
<section>
  <h3>Your Books</h3>
  <ol>
    {{#each books as |book|}}
    <li>
     <article class="post">
  <div class="title">
    <a href="{{book_url}}" target="_blank">{{book_name}}</a>
    <span>({{ book_url}})</span>
  </div>
  <div class="meta">
    {{vote_count}} {{ vote_count}} by {{user.username}} on {{created_at}}
    |
    <a href="/book/{{id}}">{{comments.length}} {{ comments.length}}</a>
  </div>
</article>
      <a href="/dashboard/edit/{{book.id}}" class="edit-link">Edit book</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-book.js"></script>