<ol class="post-list">
  <li>
    <article class="post">
      <div class="title">
        <a href="{{book_url}}" target="_blank">{{book_name}}</a>
        <span>Written by: {{author_name}}</span>
      </div>
      {{!-- <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div> --}}
    </article>
  </li>
</ol>