<article class="post">
  <div class="title">
    <a href="{{book.book_url}}" target="_blank">{{book.book_name}}</a>
    <span>Written by: {{book.author_name}}</span>
  </div>
  <div class="meta">
    {{book.vote_count}} point(s) by {{book.user.username}} on
    {{post.created_at}}
    |
    <a href="/post/{{book.id}}">{{book.comments.length}} comment(s)</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

<div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}